body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Segoe UI Historic';
}

*{
  box-sizing: border-box;
}
                                        /*START OF HEADER PART*/
li,
a {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

  #header {
    background-color: #23282d;
    width: 100%;
    height: 70px;
    display: flex;
    font-size: 14px;
    padding-top: 10px;
  }
  #nav {
    color: white;
    background-color: #23282d;
  }

  
  #forms:hover{
    color: #7b90ff;
    text-decoration: underline;
    cursor: pointer;
  }
  #dropdown {
    position: relative;
  }

  #dropdown-menu {
    background-color: #1c2024;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 200%;
    padding: 16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
    z-index: 1;
  }
  #dropdown-menu li {
    padding: 16px 0;
    font-size: 16px;
  }
  #dropdown-menu a {
    color: white;
    display: block;
    width: 100%;
  }
  #dropdown-menu a:hover {
    text-decoration: underline;
  }

  #dropdown.active > #dropdown_btn + #dropdown-menu {
    opacity: 1;
    transition: opacity 0.5s;
    transform: translateY(0px);
    pointer-events: auto;
  }
  #dropdown_btn span {
    pointer-events: none;
  }
  #header button {
    background-color: #23282d;
    color: white;
    border: none;
    cursor: pointer;
  }
  #dropdown.active button {
    background-color: #1c2024;
    transition: background-color 150ms ease-in-out;
    text-decoration: none;
  }
  #header button:hover,
  #dropdown:hover button {
    background-color: #1c2024;
  }
  #nav {
    display: flex;
  }
  
  #logo-container {
    display: flex;
    justify-content: center;
  }
  #nav button {
    height: 100%;
    width: 108px;
    padding: 18px 10px 14px;
  }
  #logo-container button {
    /* padding: 16px 20px; */
  
    width: 69px;
    height: 59px;
  }
  
  #logo-container img {
    /* height: 100%;
        width: auto; */
    margin-top: 7px;
    height: 40px;
    width: 40px;
  }
  #right-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 20px;
  }
  #right-btns #search {
    padding: 16px 16px 20px;
    margin-right: 10px;
    height: 100%;
  }
  
  #right-btns #getwordpress {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    font-weight: bold;
    background-color: #3858e9;
    width: 145px;
    height: 40px;
    color: white;
  }
  
  #right-btns #getwordpress:hover {
    background-color: #213fd4;
  }
  
  #arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("res/down-arrow-white.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
  }
                                                /*END OF HEADER PART*/
                                                /*START OF BODY PART*/
                                    
#mainbody{
    width: 100%;
    height: auto;
  }

  #mainheader{
    width: 100%;
    height: 60px;
    background-color: #23282d;
    color:white; 
    display: flex;
    align-items: center;
  }

  #Welcome{
    margin-left: 1084px;
  }

  #mainheader p{
    padding-top: 10px;
    margin-right: 30px;
    font-size: 15px;
  }

  #mainheader p:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  #firstpart{
    float: left;
    background-color: #23282d;
    width: 100%;
    height: 180px;
    color: white;
    display: flex;
    align-items: center;
  }

  #Ftitle{
    margin-left: 180px;
    padding-top: 40px;
    font-size: 50px;
    font-family: Garamond, "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  }

  #Fcontent{
    margin-left: 30px;
    padding-top: 52px;
  }

  #secondpart{
    float: left;
    background-color: #eff2ff;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
  }

  #SPcontent{
    margin-left: 578px;
    font-size: 12px;
  }

  #SPlink{
    text-decoration: underline;
    color: #3858e9;
    margin-left: 4px;
    font-size: 12px;
  }

  #SPlink:hover{
    text-decoration: none;
    cursor: pointer;
  }

  #thirdpart{
    float: left;
    width: 100%;
    height: auto;
  }

  #Searchbox{
    width: 16%;
    height: 37px;
    margin-left: 170px;
    margin-top: 20px;
    display: flex;
    margin-bottom: 60px;
  }

  #searchmainbox{
  width: 86%;
  height: 37px;
  font-size: 14px;
  margin-left: 4%;
  text-decoration: none;
  border: #eff2ff;
  padding-left: 6px;
  background-color: #f6f6f6;
  }

  #search2{
  width: 14%;
  height: 37px;
  text-decoration: none;
  border: none;
  background-color: #f6f6f6;
  }

  #search2:hover{
  cursor: pointer;
  }

  input[type=search] {
    background-color: #ffffff;
    border: 3px solid #3858e9;
    padding-right: 4px;
  }

  input[type=search]:focus {
    background-color: #ffffff;
    border: 3px solid #3858e9;
    font-size: 22px;
  }

  #btnsearch{
    margin-top: 6px;
    margin-right: 4px;
  }

  #Tbox{
    float: left;
    width: 64%;
    height: 20px;
    display: flex;
    align-items: center;
    margin-left: 110px;
  }

  #Ttitle{
    float: left;
    color: #40464d;
    width: 46%;
    height: 20px;
    margin-left: 180px;
    font-size: 17px;
  }

  #TRlink{
    float: left;
    width: 16%;
    height: 20px;
    color: #3858e9;
    text-decoration: underline;
    font-size: 17px;
  }

  #TRlink:hover{
    text-decoration: none;
    cursor: pointer;
  }

  #fourthpart{
    float: left;
    width: 100%;
    height: auto;
  }

  #maintitle{
    margin-left: 180px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
  }

  #Boxholder1{
    float: left;
    width: 80%;
    height: auto;
    margin-left: 180px;
    padding-bottom: 20px;
  }

  #Fbox1, #Fbox4, #Fbox7, #Fbox10{
    float: left;
    background-color: #ffffff;
    width: 33%;
    height: 120px;
    border: 1px solid #d9d9d9;
    color: #1e1e1e;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 10px;
  }

  #Fbox2, #Fbox3, #Fbox5, #Fbox6, #Fbox8, #Fbox9{
    float: left;
    background-color: #ffffff;
    width: 33%;
    height: 120px;
    border: 1px solid #d9d9d9;
    color: #1e1e1e;
    border-radius: 2px;
    margin-left: 5px;
    margin-top: 10px;
  }

  #Fbox11{
    float: left;
    background-color: #ffffff;
    width: 66.5%;
    height: 120px;
    border: 1px solid #d9d9d9;
    color: #1e1e1e;
    border-radius: 2px;
    margin-left: 6px;
    margin-top: 10px;
  }

  #Fbox1:hover, #Fbox2:hover, #Fbox3:hover, #Fbox4:hover, #Fbox5:hover, #Fbox6:hover, #Fbox7:hover, #Fbox8:hover, 
  #Fbox9:hover, #Fbox10:hover{
    cursor: pointer;
    background-color: #f6f6f6;
  }

  #title1, #title2, #title3, #title4, #title5, #title6, #title7, #title8,
  #title9, #title10{
    color: #3858e9;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
  }

  #title11{
    color: #1e1e1e;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
  }

  #content1, #content2, #content3, #content4, #content5, #content6, #content7,
  #content8, #content9, #content10{
    margin-left: 20px;
    margin-top: 0;
    width: 90%;
  }

  #content11{
    margin-left: 20px;
    margin-top: 0;
    font-size: 15.5px;
    width: 100%;
    padding-right: 20px;
  }

  #content11 a{
    text-decoration: underline; 
    color: #3858e9;
  }

  #content11 a:hover, #content11 a:hover{
    cursor: pointer;
    text-decoration: none;
  }

  #subtitle{
    margin-top: 600px;
    margin-left: 180px;
    font-size: 24px;
    font-weight: bold;
  }

  #Boxholder2{
    float: left;
    width: 75%;
    height: 180px;
    margin-left: 180px;
    display: flex;
  }
  
  #bboxcontent1, #bboxcontent2, #bboxcontent3{
    float: left;
    background-color:  white;
    width: 33%;
    height: 80px;
    border: 1px solid #d9d9d9;
    color: #1e1e1e;
    border-radius: 2px;
    font-size: 16px;
  }

  #bboxcontent1:hover, #bboxcontent2:hover, #bboxcontent3:hover{
    cursor: pointer;
    background-color: #f6f6f6;
  }

  #bboxcontent1 p, #bboxcontent2 p, #bboxcontent3 p{
    margin-top: 26px;
    margin-left: 30px;
    color: #3858e9;
    font-weight: bold;
    font-size: 17px;
  }

  #bboxcontent2, #bboxcontent3{
    margin-left: 20px;
  }

  #lastpart{
    float: left;
    background-color: #23282d;
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray;
  }

  #ltitle1{
    float: left;
    margin-left: 180px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
  }

  #ltitle2{
    float: left;
    color: #7b90ff;
    margin-top: 0;
    margin-left: 180px;
    font-weight: bold;
    font-size: 17px;
    
  }

  #ltitle3{
    float: left;
    color: #7b90ff;
    margin-top: 0;
    margin-left: 188px;
    font-weight: bold;
    font-size: 17px;
  }

  #ltitle2:hover, #ltitle3:hover{
    cursor: pointer;
  }

  #lcontent1{
    float: left;
    color: white;
    width: 18%;
    margin-left: 180px;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 1.8;
  }

  #lcontent2{
    float: left;
    color: white;
    width: 16%;
    margin-left: 31px;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 1.8;
  }

                                                /*END OF BODY PART*/
                                                /*START OF FOOTER PART*/
#footer {
float: left;
width: 100%;
padding: 64px 0;
display: flex;
justify-content: space-evenly;
background-color: #23282d;
}

#footer > div {
display: flex;
flex-direction: column;
}
                                        
#footer > div > a {
color: white;
padding: 8px 0;
}
                                        
#footer > div > a:hover {
text-decoration: underline;
}

#footer-2 {
display: flex;
align-items: center;
}

#logo-container-2 {
display: flex;
height: 40px;
width: 40px;
margin-left: 0px;
}

#footer-2 span{
  color: #40464d;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 20px;
}

#logo-container-2 img {
width: 100%;
height: 100%;
object-fit: fill;
}

#wordpressorg a,
#wordpressorg span {
color: white;
font-family: "Times New Roman", Times, serif;
font-size: 16px;
}
                                        
#footer-2 {
display: flex;
justify-content: space-between;
padding: 24px;
width: 100%;
color: white;
background-color: #23282d;
padding-bottom: 60px;
}
#social-logo-container {
display: flex;
margin-right: 20px;
}

#social-logo-container > div {
width: 25px;
height: 25px;
margin-right: 16px;
}              

#social-logo-container > div img {
width: 100%;
height: 100%;
object-fit: contain;
}

                                                /*END OF FOOTER PART*/