* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
li,
a {
  color: black;
  text-decoration: none;
  list-style-type: none;
}
/*----------------------------------------------------------------- HEADER START -----------------------------------------------------------------*/
#header {
  background-color: #23282d;
  z-index: 1;
  width: 100%;
  position: fixed;
  height: 60px;
  display: flex;
  font-size: 14px;
}
#nav {
  color: white;
  background-color: #23282d;
}
#dropdown {
  position: relative;
}
#dropdown-menu {
  background-color: #1c2024;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 200%;
  padding: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
}
#dropdown-menu li {
  padding: 16px 0;
  font-size: 16px;
}
#dropdown-menu a {
  color: white;
  display: block;
  width: 100%;
}
#dropdown-menu a:hover {
  text-decoration: underline;
}
#dropdown.active > #dropdown_btn + #dropdown-menu {
  opacity: 1;
  transition: opacity 0.5s;
  transform: translateY(0px);
  pointer-events: auto;
}
#dropdown_btn span {
  pointer-events: none;
}
#header button {
  background-color: #23282d;
  color: white;
  border: none;
  cursor: pointer;
}
#dropdown.active button {
  background-color: #1c2024;
  transition: background-color 150ms ease-in-out;
  text-decoration: underline;
}
#header button:hover,
#dropdown:hover button {
  background-color: #1c2024;
}
#nav {
  display: flex;
}
#search > div {
  pointer-events: none;
}

#search-box {
  display: none;
}

#right-btns input[type="text"] {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  padding: 0 8px;
}
#logo-container {
  display: flex;
  justify-content: center;
}
#nav button {
  height: 100%;
  width: 108px;
  padding: 18px 10px 14px;
}
#logo-container button {
  /* padding: 16px 20px; */

  width: 69px;
  height: 59px;
}

#logo-container img {
  /* height: 100%;
      width: auto; */
  margin-top: 7px;
  height: 40px;
  width: 40px;
}
#right-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}
#right-btns #search {
  padding: 16px 16px 20px;
  margin-right: 10px;
  height: 100%;
}

#right-btns #getwordpress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  font-weight: bold;
  background-color: #3858e9;
  width: 145px;
  height: 40px;
  color: white;
}

#right-btns #getwordpress:hover {
  background-color: #213fd4;
}


#down-arrow {
  pointer-events: none;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* #arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("res/down-arrow-white.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
} */

/*----------------------------------------------------------------- HEADER END -----------------------------------------------------------------*/
/*----------------------------------------------------------------- BODY START -----------------------------------------------------------------*/
#body-container{
  height: auto;
  padding: 32px 0;
}
#body-title-cont h1{
  font-family: sans-serif;
  font-weight: 100;
  font-size: 4rem;
}
#body-title-cont {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 82px 0;
  align-items: center;
  background-color: #0073AA;
  width: 100%;
}
#bc-content{
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
#bc-content div > p > a {
  color: #0073AA;
  text-decoration: underline;
}
#bc-content div > p {
  line-height: 32px;
}
#bc-content div{
  padding: 4px 0;
  font-weight: lighter;
  font-size:1.1rem;
  width: 50%;
}

#hosting-content{
  display: flex;
  height: auto;
}

#hosting-images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 25%;
}
#hosting-img-cont{
  /* margin: 32px 0; */
  margin-bottom: 80%;
  height: 100px;
  width: 100px;
}
#hosting-img-cont img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#hosting-text-cont{
  padding: 12px;
  width: 75%;
}
#hosting-text-cont div {
  margin-bottom: 90px;
}
#htc {
  font-size: 1.1rem;
  height: 20%;
  width: 75%;
}
#htc h2{
  font-weight: 100;
}
#htc a {
  color: #0073AA;
}
#htc a:hover{
  text-decoration: underline;
}
#htc * {
  padding: 12px 0;
}
#htc p {
  line-height: 32px;
}
#hosting-feedback {
  display: flex;
  justify-content: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hosting-feedback-cont{
  font-size: 1.1rem;
  line-height: 28px;
  width: 50%;
}
#hosting-feedback-cont div {
  margin-bottom: 32px;
}
#hosting-feedback-cont h1 {
  font-weight: 100;
  margin-bottom: 24px;
}

/*----------------------------------------------------------------- BODY START -----------------------------------------------------------------*/


/*----------------------------------------------------------------- FOOTER START -----------------------------------------------------------------*/
#footer {
  padding: 64px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #23282d;
}
#footer > div {
  display: flex;
  flex-direction: column;
}

#footer > div > a {
  color: white;
  padding: 8px 0;
}

#footer > div > a:hover {
  text-decoration: underline;
}
#footer-2 {
  display: flex;
  align-items: center;
}
#logo-container-2 {
  display: flex;
  height: 40px;
  width: 40px;
}
#logo-container-2 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#wordpressorg a,
#wordpressorg span {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

#footer-2 {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  color: white;
  background-color: #23282d;
}
#social-logo-container {
  display: flex;
}
#social-logo-container > div {
  width: 25px;
  height: 25px;
  margin-right: 16px;
}

#social-logo-container > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*----------------------------------------------------------------- FOOTER END -----------------------------------------------------------------*/