* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
li,
a {
  color: black;
  text-decoration: none;
  list-style-type: none;
}
/*----------------------------------------------------------------- HEADER START -----------------------------------------------------------------*/
#header {
  background-color: #23282d;

  height: 60px;
  display: flex;
  font-size: 14px;
}
#nav {
  color: white;
  background-color: #23282d;
}
#dropdown {
  position: relative;
}
#dropdown-menu {
  background-color: #1c2024;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 200%;
  padding: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
}
#dropdown-menu li {
  padding: 16px 0;
  font-size: 16px;
}
#dropdown-menu a {
  color: white;
  display: block;
  width: 100%;
}
#dropdown-menu a:hover {
  text-decoration: underline;
}
#dropdown.active > #dropdown_btn + #dropdown-menu {
  opacity: 1;
  transition: opacity 0.5s;
  transform: translateY(0px);
  pointer-events: auto;
}
#dropdown_btn span {
  pointer-events: none;
}
#header button {
  background-color: #23282d;
  color: white;
  border: none;
  cursor: pointer;
}
#dropdown.active button {
  background-color: #1c2024;
  transition: background-color 150ms ease-in-out;
  text-decoration: underline;
}
#header button:hover,
#dropdown:hover button {
  background-color: #1c2024;
}
#nav {
  display: flex;
}

#logo-container {
  display: flex;
  justify-content: center;
}
#nav button {
  height: 100%;
  width: 108px;
  padding: 18px 10px 14px;
}
#logo-container button {
  /* padding: 16px 20px; */

  width: 69px;
  height: 59px;
}

#logo-container img {
  /* height: 100%;
      width: auto; */
  margin-top: 7px;
  height: 40px;
  width: 40px;
}
#right-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}
#right-btns #search {
  padding: 16px 16px 20px;
  margin-right: 10px;
  height: 100%;
}

#right-btns #getwordpress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  font-weight: bold;
  background-color: #3858e9;
  width: 145px;
  height: 40px;
  color: white;
}

#right-btns #getwordpress:hover {
  background-color: #213fd4;
}

#arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("res/down-arrow-white.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

/*----------------------------------------------------------------- HEADER END -----------------------------------------------------------------*/

/*----------------------------------------------------------------- BODY START -----------------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#fav{
  border-top: 1px solid lightgray;
  text-align: right;
  background-color: #23282d;
  font-weight: 100;
  font-size: 15px;
  width: 100%;
  padding-top: 1%;
padding-right: 5%;
}
#fav a{
  
  margin-right: 2%;
  color: white;
}

#titlepart {
  display: flex;
  align-items:baseline;
  margin-bottom: 0%;
  background-color: #23282d;
  color: white;
  width: 100%;
  padding-top: 7%;
  padding-bottom: 3%;
  padding-left: 8%;
  
}
#titlepart p{
  
  font-size: 18px;
  font-weight: lighter;
}
#titlepart h3{ 
  font-size: 35px;
  font-weight: lighter;
  color: white;
  padding-right: 2%;
}

#tab{
padding: 3%;
padding-left: 8%;
border: none;
line-height: 3;
}

#tab input[type="radio"] {
  display: none;
}

#tab label {
  padding: 10px;
  margin: 5px;
  margin-right: 0%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

#tab input[type="radio"]:checked + label {
  background-color: black;
  color: white;
  border-radius: 10px;
}
#searchbar input{
  box-shadow:none ;
  display: block;
  padding:  6px;
  border: none;
  margin-left: 2%;
  
  width: 13%;
  font-size: 18px;
  line-height: 1.5;
  background-color: rgb(228, 226, 226);
  border-radius: 10px;
}
#searchbar{
 border: none;
  font-weight: 100;
  color:whitesmoke;
  padding-bottom: 2%;
 
}

#boxbox-1{
  display: flex;
  flex-direction: row;
  height: 45vh;
  width: 65vw;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 45px;

  justify-content: space-between;
}


#box1{
  height: 100%;
  width: 30%;
  

  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}




#box1::before {
  
  background-color: rgba(0, 0, 0, 0.700);
  padding: 15px 25px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  font-size: 18px;
  color: white;
  transition: opacity 0.3s ease;
}

#box1:hover::before {
  opacity: 1;
}

#box1::after {
  content: "Download";
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color:rgb(54, 127, 211); 
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#box1:hover::after {
  opacity: 1;
  background: 0 0 0 200px rgba(255,255,255,0.5);
}


#image-1{
  height: 80%;
  width: 100%;
  border: 1px solid lightgray;
  border-bottom: 0;
}

#sub-1{
  height: 20%;
  width: 100%;
  background-color: #FAFAFA;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
}





/******************* boxdiv *********************/

#box2{
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}



#image-2{
  height: 80%;
  width: 100%;
 
  border: 1px solid lightgray;
  border-bottom: 0;
}


#image-1 img{
  height: 100%;
  width: 100%;
}

#sub-2 p{
  margin-left: 15px;
  font-size: 18px;
}

/******************* boxdiv *********************/

#box3{
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#image-3{
  height: 80%;
  width: 100%;
 
  border: 1px solid lightgray;
  border-bottom: 0;
}




/******************* boxdiv *********************/

#boxbox-2{
  display: flex;
  flex-direction: row;
  height: 45vh;
  width: 65vw;
  margin: auto;
  margin-bottom: 45px;

  justify-content: space-between;
}



#box4{
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#image-4{
  height: 80%;
  width: 100%;
 
  border: 1px solid lightgray;
  border-bottom: 0;
}


/******************* boxdiv *********************/


#box5{
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#image-5{
  height: 80%;
  width: 100%;
 
  border: 1px solid lightgray;
  border-bottom: 0;
}

/******************* boxdiv *********************/


#box6{
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#image-6{
  height: 80%;
  width: 100%;
  border: 1px solid lightgray;
  border-bottom: 0;
}



/******************* boxdiv *********************/



#boxbox-3{
  display: flex;
  flex-direction: row;
  height: 45vh;
  width: 65vw;
  margin: auto;
  margin-bottom: 170px;
  justify-content: space-between;
}


#box7{
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#image-7{
  height: 80%;
  width: 100%;
 
  border: 1px solid lightgray;
  border-bottom: 0;
}


/******************* boxdiv *********************/


#box8{
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#image-8{
  height: 80%;
  width: 100%;
 
  border: 1px solid lightgray;
  border-bottom: 0;
}




/******************* boxdiv *********************/


#box9{
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#image-9{
  height: 80%;
  width: 100%;
 
  border: 1px solid lightgray;
  border-bottom: 0;
}

#sub-2,
#sub-3,
#sub-4,
#sub-5,
#sub-6,
#sub-7,
#sub-8,
#sub-9
{
  height: 20%;
  width: 100%;
  background-color: #FAFAFA;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
}

#boxbox-1 img,
#boxbox-2 img,
#boxbox-3 img {
  height: 100%; 
  width: 100%; 
}

#boxbox-1 a,
#boxbox-2 a,
#boxbox-3 a {
color: #3858e9;
max-width: 75%;
overflow-x: hidden;
white-space:nowrap;
text-overflow: ellipsis;
padding-left: 1%;
}


#boxbox-1 a:hover,
#boxbox-2 a:hover,
#boxbox-3 a:hover{
text-decoration: underline;
}
#tabcount {
  display: flex;
  justify-content: center; /* centers horizontally */
  margin-top: -6%;
  margin-bottom: 5%;
 
}

#tabcount a {
  color: #3858e9;
  margin:2px 5px;
  position: relative;
  display: inline-block;
}

#tabcount a:hover{
  text-decoration: underline;
}

#bfore{
  background-color: #23282d;
  display: flex;
}
#content1{
  margin: auto;
  border: 1px solid #3f4347;
  line-height: 1.5;
  padding: 3% 2% 5% 2% ;
  width: 50%;
  color: #ffffff;
  font-weight: lighter;
  text-align: justify;
}
#content1 h3{
  font-weight: lighter;
  font-size: 28px;
  line-height: 1.5;
}
#content1 button{
font-size: medium;
font-weight: bold;
color: #ffffff;
margin-top: 2%;
padding: 2%;
background-color: #23282d;
box-shadow: none;
border-radius: 5%;
border-color: #ffffff;
}
#content1 button:hover{
border-color: #3858e9;
color: #3858e9;
opacity: 0.5;
}



/*----------------------------------------------------------------- BODY END -----------------------------------------------------------------*/

/*----------------------------------------------------------------- FOOTER START -----------------------------------------------------------------*/
#footer {
  padding: 64px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #23282d;
}
#footer > div {
  display: flex;
  flex-direction: column;
}

#footer > div > a {
  color: white;
  padding: 8px 0;
}

#footer > div > a:hover {
  text-decoration: underline;
}
#footer-2 {
  display: flex;
  align-items: center;
}
#logo-container-2 {
  display: flex;
  height: 40px;
  width: 40px;
}
#logo-container-2 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#wordpressorg a,
#wordpressorg span {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

#footer-2 {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  color: white;
  background-color: #23282d;
}
#social-logo-container {
  display: flex;
}
#social-logo-container > div {
  width: 25px;
  height: 25px;
  margin-right: 16px;
}

#social-logo-container > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*----------------------------------------------------------------- FOOTER END -----------------------------------------------------------------*/
