* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
li,
a {
  color: black;
  text-decoration: none;
  list-style-type: none;
}
/*----------------------------------------------------------------- HEADER START -----------------------------------------------------------------*/
#header {
  background-color: #23282d;
  z-index: 2;
  width: 100%;
  position: fixed;
  height: 60px;
  display: flex;
  font-size: 14px;
}
#nav {
  color: white;
  background-color: #23282d;
}
#dropdown {
  position: relative;
}
#dropdown-menu {
  background-color: #1c2024;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 200%;
  padding: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
}
#dropdown-menu li {
  padding: 16px 0;
  font-size: 16px;
}
#dropdown-menu a {
  color: white;
  display: block;
  width: 100%;
}
#dropdown-menu a:hover {
  text-decoration: underline;
}
#dropdown.active > #dropdown_btn + #dropdown-menu {
  opacity: 1;
  transition: opacity 0.5s;
  transform: translateY(0px);
  pointer-events: auto;
}
#dropdown_btn span {
  pointer-events: none;
}
#header button {
  background-color: #23282d;
  color: white;
  border: none;
  cursor: pointer;
}
#dropdown.active button {
  background-color: #1c2024;
  transition: background-color 150ms ease-in-out;
  text-decoration: underline;
}
#header button:hover,
#dropdown:hover button {
  background-color: #1c2024;
}
#nav {
  display: flex;
}

#logo-container {
  display: flex;
  justify-content: center;
}
#nav button {
  height: 100%;
  width: 108px;
  padding: 18px 10px 14px;
}
#logo-container button {
  /* padding: 16px 20px; */

  width: 69px;
  height: 59px;
}

#logo-container img {
  /* height: 100%;
      width: auto; */
  margin-top: 7px;
  height: 40px;
  width: 40px;
}
#right-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}
#right-btns #search {
  padding: 16px 16px 20px;
  margin-right: 10px;
  height: 100%;
}

#right-btns #getwordpress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  font-weight: bold;
  background-color: #3858e9;
  width: 145px;
  height: 40px;
  color: white;
}

#right-btns #getwordpress:hover {
  background-color: #213fd4;
}
#search > div {
  pointer-events: none;
}

#search-box {
  display: none;
}

#right-btns input[type="text"] {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  padding: 0 8px;
}
#down-arrow {
  pointer-events: none;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* #arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("res/down-arrow-white.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
  } */

/*----------------------------------------------------------------- HEADER END -----------------------------------------------------------------*/

/*----------------------------------------------------------------- BODY START -----------------------------------------------------------------*/

#body-container {
  height: auto;
}
#showcase-container {
  padding: 64px 0 0 64px;
  display: flex;
  flex-wrap: wrap;
  background-color: #1E1E1E;
  min-height: 90vh;
}

#sc-cont-1 {
  display: flex;
  flex-direction: column;
  width: 30%;

  padding: 64px 0;
  /* padding-right: 32px; */
}
#sc-cont-1 h1 {
  color: white;
  font-weight: normal;
  font-family: serif;
  font-size: 3rem;
  margin-bottom: 12px;
}
#sc-cont-1 p {
  color: white
}
#sc-cont-1 > div {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  padding: 24px 64px 24px 0;
}
#sc-cont-1 > div > div {
  border-radius: 4px;
  padding: 24px 24px;
  border: 1px solid #40464D;
}
#sc-cont-1 > div > div > a {
  color: blue;
}
#sc-cont-1 > div > div > a:hover{
  text-decoration: underline;
}
#sc-cont-2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 70%;
}
#sc-cont-2-img-cont{
  height: 60vh;
}

#sc-cont-2-img-cont img {
  position: relative;
  margin-top: 15px;
  border-radius: 20px;;
  border-top: 15px solid #40464D;
  border-left: 15px solid #40464D;
  border-right: 15px solid #40464D;
  border-bottom: 15px solid #1E1E1E;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#showcase-examples {
  position: relative;
  z-index: 1;
  height: auto;
  background-color: white;
}
#showcase-examples img {
  cursor: pointer;
}
#sc-ex-header{
  padding: 0 64px;
  display: flex;
  align-items: center;
  height: 20vh;
}
#sc-ex-header img, #sc-ex-header button{
  cursor: pointer;
  border: none;
  background-color: #F6F6F6;
  height: 5vh;
}
#sc-ex-header img {
  padding: 8px;
  
}
#sc-ex-header input[type="text"] {
  margin-right: 2px;
  padding: 16px;
  border: none;
  background-color: #F6F6F6;
  height: 5vh;
}
#sc-img-cont {
  display: flex;
  /* padding: 64px; */
}
#sc-img-1, #sc-img-2 {
  padding: 32px 64px;
  width: 50;
  height: 50%;
}
#sc-img-desc{
  display: flex;
  justify-content: space-between;
}
#sc-img-desc a{
  color: blue;
}
#sc-img-1 img, #sc-img-2 img{
  border-radius: 20px;
  border: 15px solid #E8E8E8;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: border-color 0.3s ease-in-out;
}
#sc-img-1 img:hover, #sc-img-2 img:hover{
  border: 15px solid #C7C7C7;
}

#featured-container {
  margin-top: 64px;
  position: relative;
  display: flex;
  justify-content: center;
}
#fc-1, #fc-2{
  border-bottom: 2px solid #404040;
  padding: 64px 64px;
  background-color: #23282D;
  width: 50%;
}
#fc-1 {
  border-right: 2px solid #404040;
}
#featured-container * {
  color: white;
}
#fc-1 h1, #fc-2 h1{
  font-size: 3rem;
  font-weight: normal;
  font-family: serif;
  margin-bottom: 12px;
}
#fc-1 p, #fc-2 p {
  font-size: 1.2rem;
}
#fc-1 button, #fc-2 button{
  cursor: pointer;
  margin-top: 24px;
  width: 150px;
  height: 60px;
}
#fc-1 button {
  background-color: #3858E9;
  border: none;
  border-radius: 3px;
}
#fc-1 button:hover{
  background-color: #213FD4;
}
#fc-2 button{
  background-color: transparent;
  border: 1px solid white;
}
#fc-2 button:hover{
  color: #7B90FF;
  border: 1px solid #7B90FF;
}
/*----------------------------------------------------------------- BODY END -----------------------------------------------------------------*/

/*----------------------------------------------------------------- FOOTER START -----------------------------------------------------------------*/
#footer {
  padding: 64px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #23282d;
}
#footer > div {
  display: flex;
  flex-direction: column;
}

#footer > div > a {
  color: white;
  padding: 8px 0;
}

#footer > div > a:hover {
  text-decoration: underline;
}
#footer-2 {
  display: flex;
  align-items: center;
}
#logo-container-2 {
  display: flex;
  height: 40px;
  width: 40px;
}
#logo-container-2 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#wordpressorg a,
#wordpressorg span {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

#footer-2 {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  color: white;
  background-color: #23282d;
}
#social-logo-container {
  display: flex;
}
#social-logo-container > div {
  width: 25px;
  height: 25px;
  margin-right: 16px;
}

#social-logo-container > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*----------------------------------------------------------------- FOOTER END -----------------------------------------------------------------*/
